uuid
tqdm
imageio
imageio-ffmpeg
trimesh
pytorch-msssim
open3d
diso
plyfile
scikit-image
libigl
kiui
rich
collection
opencv-python
torchgeometry
https://github.com/zju3dv/Wis3D/releases/download/2.0.0/wis3d-2.0.0-py3-none-any.whl
lpips
chamferdist
emd